<div>
    {{#if hasErrors}}
    <ul class="error-list">
        {{#each errors}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
    {{/if}}
    <form action="/events/createEvent" method="post" name="EventForm" id="EventForm">
        <label for=""></label>
        <input type="hidden" name="barIdInput" id="barIdInput" value="{{barId}}">
        <label for="enventDateInput">Event Date</label>
        <input type="date" name="eventDateInput" id="eventDateInput" value="{{eventInfo.eventDateInput}}">
        <label for="eventNameInput">Event Name</label>
        <input type="text " name="eventNameInput" id="eventNameInput" value="{{eventInfo.eventNameInput}}"
            placeholder="Event Name">
        <label for="eventDescInput">Description</label>
        <textarea id="eventDescInput" name="eventDescInput" rows="4" placeholder="Event description"
            class="full-width-input">{{eventInfo.eventDescInput}}</textarea>

        <label for="startTimeInput">Start Time</label>
        <input type="time" name="startTimeInput" id="startTimeInput" value="{{eventInfo.startTimeInput}}">
        <label for="endTimeInput">End Time</label>
        <input type="time" name="endTimeInput" id="endTimeInput" value="{{eventInfo.endTimeInput}}">
        <button type="submit"></button>
        <a href="/bars/{{barId}}">Cancel</a>

    </form>

</div>