<div class="bars-container">
    <div class="filters-container">
        <form action="/barbycity" method="post" id="findByLocation">
            <label for="findCityInput"></label>
            <input type="text" id="findCityInput" name="findCityInput" />
            <button type="submit"></button>
        </form>
        <h2>#Filters</h2>
        <form id="filterForm">
            {{#each tags}}
                <div class="checkbox">
                    <input
                        type="checkbox"
                        id="{{this}}Input"
                        name="{{this}}Input"
                        value="{{this}}"
                    />
                    <label for="{{this}}Input">{{this}}</label>
                </div>
            {{/each}}
            <button class="submit-button" type="submit">Apply Filters</button>
        </form>
        <a class="reset-button" id="resetFilters" href="/bars">Reset Filters</a>
    </div>

    <ul id="barList">
        {{#if location}}
            {{#each bars}}
                <li>
                    <div class="row"></div>
                    <a href="/bars/{{bar._id}}">
                        <div class="card">
                            {{bar.name}}
                            <br />
                            {{distance}}
                            mi from you!<br />
                            @
                            {{duration}}
                            driving
                            <br />
                            {{bar.location.city}}
                            <br />
                            {{bar.ratingAverage}}
                            <br />
                            {{bar.reviewsCount}}
                            reviews
                            <br />
                            {{bar.favoritesCount}}
                            favorites
                            <br />
                        </div>
                    </a>
                </li>
            {{/each}}
        {{else}}
            {{#each bars}}
                <li>
                    <div class="row"></div>
                    <a href="/bars/{{_id}}">
                        <div class="card">
                            {{name}}
                            <br />
                            {{location.city}}
                            <br />
                            {{ratingAverage}}
                            <br />
                            {{reviewsCount}}
                            reviews
                            <br />
                            {{favoritesCount}}
                            favorites
                            <br />
                        </div>
                    </a>
                </li>
            {{/each}}
        {{/if}}
    </ul>
</div>