<form action="/barbycity" method="post" id="findByLocation">
	<label for="findCityInput"></label>
	<input type="text" id="findCityInput" name="findCityInput">
	<button type="submit"></button>
</form>

<form id="filterForm">
	{{#each tags}}
	<label for="{{this}}Input">{{This}}</label>
	<input type="checkbox" id="{{this}}Input" name="{{this}}Input" value="{{this}}">
	{{/each}}
	<button type="submit">Apply Filters</button>
</form>
<a class="" id="resetFilters" href="/bars">Reset Filters</a>

<div class"bars-section">
	<ul id="barList">
		{{#each bars}}
		{{#if haslocation}}

		<li>
			<a href="/bars/{{bar._id}}">
				<div class="card-bar">
					{{bar.name}} <br>
					{{distance}} mi from you!<br>
					@ {{duration}} driving <br>
					{{bar.location.city}} <br>
					{{bar.ratingAverage}} <br>
					{{bar.reviewsCount}} reviews <br>
					{{bar.favoritesCount}} favorites <br>
				</div>
			</a>
		</li>
		{{else}}
		<li>
			<a href="/bars/{{bar._id}}">
				<div class="item-review">
					Name: {{name}} <br><br>
					Location: {{location.city}} <br><br>
					Rating Average: {{ratingAverage}} <br><br>
					{{reviewsCount}} reviews <br><br>
					{{favoritesCount}} favorites <br><br>
				</div>
			</a>
		</li>
		{{/if}}

		{{/each}}
	</ul>
</div>