<ul>
	{{#each bars}}

	<li>
		<div class="row"></div>
		<a href="/bars/{{_id}}">
			<div class="card">
				{{name}} <br>
				{{location.city}} <br>
				{{ratingAverage}} <br>
				{{reviewsCount}} reviews <br>
				{{favoritesCount}} favorites <br>
			</div>
		</a>
		</div>
	</li>

	{{/each}}
</ul>