<ul id="respError">
</ul>

<form action="/bars" method="post" id="findByLocation">
	<label for="findCityInput"></label>
	<input type="text" id="findCityInput" name="findCityInput" placeholder="Enter City">
	<select name="findStateInput" id="findStateInput">
		<option disabled selected value> -- State -- </option>
		<option value="AL">AL</option>
		<option value="AK">AK</option>
		<option value="AZ">AZ</option>
		<option value="AR">AR</option>
		<option value="CA">CA</option>
		<option value="CO">CO</option>
		<option value="CT">CT</option>
		<option value="DE">DE</option>
		<option value="FL">FL</option>
		<option value="GA">GA</option>
		<option value="HI">HI</option>
		<option value="ID">ID</option>
		<option value="IL">IL</option>
		<option value="IN">IN</option>
		<option value="IA">IA</option>
		<option value="KS">KS</option>
		<option value="KY">KY</option>
		<option value="LA">LA</option>
		<option value="ME">ME</option>
		<option value="MD">MD</option>
		<option value="MA">MA</option>
		<option value="MI">MI</option>
		<option value="MN">MN</option>
		<option value="MS">MS</option>
		<option value="MO">MO</option>
		<option value="MT">MT</option>
		<option value="NE">NE</option>
		<option value="NV">NV</option>
		<option value="NH">NH</option>
		<option value="NJ">NJ</option>
		<option value="NM">NM</option>
		<option value="NY">NY</option>
		<option value="NC">NC</option>
		<option value="ND">ND</option>
		<option value="OH">OH</option>
		<option value="OK">OK</option>
		<option value="OR">OR</option>
		<option value="PA">PA</option>
		<option value="RI">RI</option>
		<option value="SC">SC</option>
		<option value="SD">SD</option>
		<option value="TN">TN</option>
		<option value="TX">TX</option>
		<option value="UT">UT</option>
		<option value="VT">VT</option>
		<option value="VA">VA</option>
		<option value="WA">WA</option>
		<option value="WV">WV</option>
		<option value="WI">WI</option>
		<option value="WY">WY</option>
	</select>

	<button class="chatbtn" type="submit">Search</button>
</form>
<a href="/bars">Reset Drop Down</a>
<form action="/sortBy" method="post" id="sortByForm">
	<label for="sortByInput">Sort by</label>
	<select name="sortBySelector" id="sortBySelector">
		<option disabled selected value> -- select an option -- </option>
		<option value="highestrating">Highest Rated</option>
		<option value="mostFavorites">Most Favorites/Likes</option>
		<option value="mostReviews">Most Reviewed</option>
	</select>
</form>
<form action="/barbycity" method="post" id="findByLocation">
	<label for="findCityInput"></label>
	<input type="text" id="findCityInput" name="findCityInput">
	<button type="submit"></button>
</form>
<div class="grid-title">#AllTheBars</div>
<div class="bars-container">
	<div class="filter-container">
		<form class="filters" id="filterForm">
			<p class="filterp">#Filters:</p>
			{{#each tags}}
			<div class="checkbox">
				<input type="checkbox" id="{{this}}Input" name="{{this}}Input" value="{{this}}">
				<label for="{{this}}Input">{{this}}</label>
			</div>
			{{/each}}
			<button type="submit" class="submit-button">Apply Filters</button>
		</form>
		<a class="" id="resetFilters" href="/bars">Reset Filters</a>
	</div>

	<a class="" id="resetFilters" href="/bars">Reset Filters</a>

	<ul id="barList">
		
		{{#each bars}}
		<li>
			<div class="row"></div>
			<a href="/bars/{{bar._id}}">
				<div class="card-bar">
					#BarName: {{bar.name}} <br>
					#City: {{bar.location.city}} <br>
					#RatingAverage: {{bar.ratingAverage}} <br>
					{{bar.reviewsCount}} reviews <br>
					{{bar.favoritesCount}} favorites <br>
				</div>
			</a>
		</li>
		{{/each}}
		
	</ul>
</div>