<form action="/barbycity" method="post" id="findByLocation">
	<label for="findCityInput"></label>
	<input type="text" id="findCityInput" name="findCityInput">
	<button type="submit"></button>
</form>



<ul>
	{{#each bars}}
	{{#if haslocation}}

	<li>
		<div class="row"></div>
		<a href="/bars/{{bar._id}}">
			<div class="card">
				{{bar.name}} <br>
				{{distance}} mi from you!<br>
				@ {{duration}} driving <br>
				{{bar.location.city}} <br>
				{{bar.ratingAverage}} <br>
				{{bar.reviewsCount}} reviews <br>
				{{bar.favoritesCount}} favorites <br>
			</div>
		</a>
		</div>
	</li>
	{{else}}
	<li>
		<div class="row"></div>
		<a href="/bars/{{bar._id}}">
			<div class="item-review">
				{{name}} <br>
				{{location.city}} <br>
				{{ratingAverage}} <br>
				{{reviewsCount}} reviews <br>
				{{favoritesCount}} favorites <br>
			</div>
		</a>
		</div>

		{{/if}}

		{{/each}}
</ul>