<div class="form-container">
	<div class="form-box">
		<h2>#Create a Bar 🍺</h2>
		{{#if isError}}
		<ul>
			{{#each errors}}
			<li>
				<p>{{this}}</p>
			</li>

			{{/each}}
		</ul>


		{{/if}}
		<form action="/bars/createBar" method="post" id="bar-create" enctype="multipart/form-data">
			<div class="input-box">
				<label for="createName">Bar Name</label>
				<input type="text" value="{{barName}}" name="createName" id="createName" required="">
			</div>

			<div class="input-box">
				<label for="createDesc">Description</label>
				<input type="text" value="{{description}}" name="createDesc" id="createDesc" required="">
			</div>

			<div class="input-box">
				<label for="createAddress">Address</label>
				<input type="text" value="{{location.streetAddress}}" name="createAddress" id="createAddress"
					required="">
			</div>

			<div class="input-box">
				<label for="createCity">City</label>
				<input type="text" value="{{location.city}}" name="createCity" id="createCity" required="">

			</div>

			<div class="input-box">
				<label for="createState"> Choose a State</label>
				<select name="createState" id="createState" required>
					<option disabled selected value> -- select an option -- </option>
					<option value="AL">AL</option>
					<option value="AK">AK</option>
					<option value="AZ">AZ</option>
					<option value="AR">AR</option>
					<option value="CA">CA</option>
					<option value="CO">CO</option>
					<option value="CT">CT</option>
					<option value="DE">DE</option>
					<option value="FL">FL</option>
					<option value="GA">GA</option>
					<option value="HI">HI</option>
					<option value="ID">ID</option>
					<option value="IL">IL</option>
					<option value="IN">IN</option>
					<option value="IA">IA</option>
					<option value="KS">KS</option>
					<option value="KY">KY</option>
					<option value="LA">LA</option>
					<option value="ME">ME</option>
					<option value="MD">MD</option>
					<option value="MA">MA</option>
					<option value="MI">MI</option>
					<option value="MN">MN</option>
					<option value="MS">MS</option>
					<option value="MO">MO</option>
					<option value="MT">MT</option>
					<option value="NE">NE</option>
					<option value="NV">NV</option>
					<option value="NH">NH</option>
					<option value="NJ">NJ</option>
					<option value="NM">NM</option>
					<option value="NY">NY</option>
					<option value="NC">NC</option>
					<option value="ND">ND</option>
					<option value="OH">OH</option>
					<option value="OK">OK</option>
					<option value="OR">OR</option>
					<option value="PA">PA</option>
					<option value="RI">RI</option>
					<option value="SC">SC</option>
					<option value="SD">SD</option>
					<option value="TN">TN</option>
					<option value="TX">TX</option>
					<option value="UT">UT</option>
					<option value="VT">VT</option>
					<option value="VA">VA</option>
					<option value="WA">WA</option>
					<option value="WV">WV</option>
					<option value="WI">WI</option>
					<option value="WY">WY</option>
				</select>
			</div>

			<div class="input-box">
				<label for="createZipCode">Zip</label>
				<input type="text" value="{{location.zipCode}}" name="createZipCode" id="createZipCode" required="">

			</div>

			<div class="input-box">
				<label for="createEmail">Email</label>
				<input type="email" value="{{email}}" name="createEmail" id="createEmail" required="">

			</div>

			<div class="input-box">
				<label for="createPhone">Phone</label>
				<input type="tel" value="{{phone}}" name="createPhone" id="createPhone" required="">

			</div>

			<div class="input-box">
				<label for="createWebsite">Website</label>
				<input type="text" value="{{website}}" name="createWebsite" id="createWebsite">

			</div>

			<div class="input-box">
				<label for="tags"> Choose your hashtags:</label>
				<p>(Hint: Ctrl + Click)</p>
				<select name="tags" id="tags" multiple>
					<option value="Sport">#Sport</option>
					<option value="Grill">#Grill</option>
					<option value="Margaritas">#Margaritas</option>
					<option value="Tacos">#Tacos</option>
					<option value="Dance">#Dance</option>
					<option value="Cocktails">#Cocktails</option>
					<option value="Mixology">#Mixology</option>
					<option value="CraftBeer">#CraftBeer</option>
					<option value="WineWednesday">#WineWednesday</option>
					<option value="BarEvents">#BarEvents</option>
					<option value="DrinkSpecials">#DrinkSpecials</option>
					<option value="ThirstyThursday">#ThirstyThursday</option>
					<option value="LiveMusic">#LiveMusic</option>
					<option value="BeerTasting">#BeerTasting</option>
					<option value="MixandMingle">#MixandMingle</option>
					<option value="LadiesNight">#LadiesNight</option>
					<option value="BarCrafting">#BarCrafting</option>
					<option value="Tapas">#Tapas</option>
					<option value="ChampagneNight">#ChampagneNight</option>
					<option value="AfterWorkDrinks">#AfterWorkDrinks</option>
					<option value="SignatureCocktails">#SignatureCocktails</option>
					<option value="WhiskeyTasting">#WhiskeyTasting</option>
					<option value="HappyHourDeals">#HappyHourDeals</option>
					<option value="CraftCocktails">#CraftCocktails</option>
					<option value="Shots">#Shots</option>
					<option value="BarHopping">#BarHopping</option>
				</select>
			</div>

			<div class="input-box">
				<input type="file" accept="image/jpeg, image/png, image/jpg" id="images" name="images">
				<label for="images"></label>
			</div>

			<button type="submit" class="submit-button">
				#CraftMeaBar
			</button>

		</form>
	</div>

	<div class="message-container">
		<div class="message-container">

			{{#if error}}
			<p class="response-error">Error {{error.status}}: {{error.message}}</p>
			{{/if}}
			<ul id="error-list" class="error-list hide"></ul>
			<p>Already have an account?</p>
			<a class="link" href="/login">Click here to login!</a>


		</div>

	</div>
</div>