<div>
	{{#if hasErrors}}
	<ul class="error-list">
		{{#each errors}}
		<li>
			{{this}}
		</li>
		{{/each}}
	</ul>
	{{/if}}

	<div class="form-container">
		<div class="form-box">
			<h2>#EditBar 🥂</h2>


			<form action="/bars/update" method="post" id="bar-pdate" enctype="multipart/form-data">
				<input type="hidden" value="{{id}}" name="updateBarId" id="updateBarId">

				<div class="input-box">
					<label for="updateName">Bar Name</label>
					<input type="text" value="{{barName}}" name="updateName" id="updateName">
				</div>
				<div class="input-box">
					<label for="updateDesc">Description</label>
					<input type="text" value="{{description}}" name="updateDesc" id="updateDesc">
				</div>
				<div class="input-box">
					<label for="updateAddress">Address</label>
					<input type="text" value="{{location.streetAddress}}" name="updateAddress" id="updateAddress">
				</div>
				<div class="input-box">
					<label for="updateCity">City</label>
					<input type="text" value="{{location.city}}" name="updateCity" id="updateCity">
				</div>
				<div class="input-box">
					<label for="updateState">State</label>
					<select name="updateState" id="updateState">
						<option value="{{location.state}}" selected>{{location.state}}</option>
						<option value="AL">AL</option>
						<option value="AK">AK</option>
						<option value="AZ">AZ</option>
						<option value="AR">AR</option>
						<option value="CA">CA</option>
						<option value="CO">CO</option>
						<option value="CT">CT</option>
						<option value="DE">DE</option>
						<option value="FL">FL</option>
						<option value="GA">GA</option>
						<option value="HI">HI</option>
						<option value="ID">ID</option>
						<option value="IL">IL</option>
						<option value="IN">IN</option>
						<option value="IA">IA</option>
						<option value="KS">KS</option>
						<option value="KY">KY</option>
						<option value="LA">LA</option>
						<option value="ME">ME</option>
						<option value="MD">MD</option>
						<option value="MA">MA</option>
						<option value="MI">MI</option>
						<option value="MN">MN</option>
						<option value="MS">MS</option>
						<option value="MO">MO</option>
						<option value="MT">MT</option>
						<option value="NE">NE</option>
						<option value="NV">NV</option>
						<option value="NH">NH</option>
						<option value="NJ">NJ</option>
						<option value="NM">NM</option>
						<option value="NY">NY</option>
						<option value="NC">NC</option>
						<option value="ND">ND</option>
						<option value="OH">OH</option>
						<option value="OK">OK</option>
						<option value="OR">OR</option>
						<option value="PA">PA</option>
						<option value="RI">RI</option>
						<option value="SC">SC</option>
						<option value="SD">SD</option>
						<option value="TN">TN</option>
						<option value="TX">TX</option>
						<option value="UT">UT</option>
						<option value="VT">VT</option>
						<option value="VA">VA</option>
						<option value="WA">WA</option>
						<option value="WV">WV</option>
						<option value="WI">WI</option>
						<option value="WY">WY</option>
					</select>
				</div>

				<div class="input-box">
					<label for="updateZipCode">Zip</label>
					<input type="text" value="{{location.zipCode}}" name="updateZipCode" id="updateZipCode">
				</div>
				<div class="input-box">
					<label for="updateEmail">Email</label>
					<input type="text" value="{{email}}" name="updateEmail" id="updateEmail">
				</div>
				<div class="input-box">
					<label for="updatePhone">Phone</label>
					<input type="text" value="{{phone}}" name="updatePhone" id="updatePhone">
				</div>
				<div class="input-box">
					<label for="updateWebsite">Website</label>
					<input type="text" value="{{website}}" name="updateWebsite" id="updateWebsite">
				</div>
				<div>
					<h2>Gallery</h2>
					<img src="/public/images/{{images.filename}}" alt="bar image" width="200" height="300">
				</div>

				<div class="input-box">
					<input type="file" accept="image/jpeg, image/png, image/jpg" id="images" name="images">
					<label for="images"></label>
				</div>
				<button type="submit">Submit</button>
				<a href="/bars/{{id}}">Cancel</a>

			</form>
		</div>
	</div>
</div>