<div>
    {{#if hasErrors}}
    <ul class="error-list">
        {{#each errors}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
    {{/if}}

    <div class="form-container">
   <div id="editReview-section">
        <div class="form-box">
            <h2 class="editReview-title">#EditYourEvent:</h1>
    <form action="/events/updateEvent" method="post" name="EventForm" id="EventForm">
        <input type="hidden" name="barIdInput" id="barIdInput" value="{{barId}}">
        <div class="input-box">
        <input type="hidden" name="eventIdInput" id="eventIdInput" value="{{eventInfo.eventIdInput}}">
        </div>
        <div class="input-box">
        <label for="eventDateInput">Event Date</label>
        <input type="date" name="eventDateInput" id="eventDateInput" value="{{eventInfo.eventDateInput}}">
        </div>
        <div class="input-box">
        <label for="eventNameInput">Event Name</label>
        <input type="text" name="eventNameInput" id="eventNameInput" value="{{eventInfo.eventNameInput}}">
        </div>
        <div class="input-box">
        <label for="eventDescInput">Description</label>
        <textarea id="eventDescInput" name="eventDescInput" rows="4" placeholder="Event description"
            class="full-width-input">{{eventInfo.eventDescInput}}</textarea>
        </div>
        <div class="input-box">
        <label for="startTimeInput">Start Time</label>
        <input type="time" name="startTimeInput" id="startTimeInput" value="{{eventInfo.startTimeInput}}">
        </div>
        <div class="input-box">
        <label for="endTimeInput">End Time</label>
        <input type="time" name="endTimeInput" id="endTimeInput" value="{{eventInfo.endTimeInput}}">
        </div>
        <button type="submit">Submit Changes</button>
        <a href="/bars/{{barId}}">Cancel</a>

    </form>

</div>