<h1>Hello World</h1>

<li>
    <div class="row"></div>
    <a href="/bars/{{_id}}">
        <div class="card">
            {{name}} <br>
            {{location.city}} <br>
            {{reviewsAverage}} <br>
            {{reviewsCount}} reviews <br>
            {{likesCount}} likes <br>
        </div>
    </a>
    </div>
</li>

{{/each}}
</ul>
<a class="link" href="/register">Click here to register!</a>
<a class="link" href="/login">Already have an account? Click here to log-in</a>
<a class="link" href="/logout">Logout</a>