<ul class="favoriteLinks">
	<li><a href="/account" id="account-tab">Account Info</a></li>
	<li><a href="/account/reviews" id="reviews-tab">My Reviews</a></li>
	<li><a href="/account/favorites" id="favorites-tab">My Favorites</a></li>

</ul>

<h1 class="reviews-title">#YourBars:</h1>
<div id="favorites-section">
    {{#if bars}}
        {{#each bars}}
            <div class="favorite-card">
                <p class="bar-name">{{this.name}}</p>
                <p>Bar Name: {{this.name}}</p>
                <p>Rating: {{this.ratingAverage}}</p>
                <a href="/bars/{{this._id}}">Edit</a>
            </div>
        {{/each}}
    {{else}}
        <p>No bars yet.</p>
    {{/if}}
</div>