<ul class="favoriteLinks">
	<li><a href="/account" id="account-tab">Account Info</a></li>
	<li><a href="/account/reviews" id="reviews-tab">My Reviews</a></li>
	<li><a href="/account/favorites" id="favorites-tab">My Favorites</a></li>

</ul>

<h1 class="reviews-title">#YourBars:</h1>
<div id="favorites-section">
	{{#if bars}}
	<ul>
		{{#each bars}}
		<li>
			<div class="row"></div>
			<a href="/bars/{{this._id}}">
				<div class="card-bar">
					#BarName: {{this.name}} <br>
					#City: {{this.location.city}} <br>
					#RatingAverage: {{this.ratingAverage}} <br>
					{{this.reviewsCount}} reviews <br>
					{{this.favoritesCount}} favorites <br>
					{{#if this.images.filename}}
					<img src="/public/images/{{this.images.filename}}" alt="bar image" width="200" height="300">
					{{else}}
					<img src="/public/images/no_image.jpeg" alt="bar image" width="200" height="300">
					{{/if}}
				</div>
			</a>
		</li>
		{{/each}}
	</ul>
	{{else}}
	<p>No bars yet.</p>
	{{/if}}
</div>