<div class="form-container">
	<div class="form-box">
		<h2>#Register 🥂</h2>

		<ul id="error-list" class="error-list hide"></ul>
		{{#if error}}
		<p class="response-error">Error {{error.status}}: {{error.message}}</p>
		{{/if}}

		<form class="registration-form" id="registration-form" action="/account" method="POST">
			<div class="input-box">
				<label class="input-label" for="firstNameInput">First Name</label>
				<input class="input" type="text" id="firstNameInput" name="firstNameInput" required=""
					value="{{form.firstNameInput}}">
			</div>
			<div class="input-box">
				<label class="input-label" for="lastNameInput">Last Name</label>
				<input class="input" type="text" id="lastNameInput" name="lastNameInput" required=""
					value="{{form.lastNameInput}}">
			</div>

			<div class="input-box">
				<label class="input-label" for="emailInput">Email</label>
				<input class="input" type="email" id="emailInput" name="emailInput" required=""
					value="{{form.emailInput}}">
			</div>
			<div class="input-box">
				<label class="input-label" for="phoneInput">Phone Number</label>
				<input class="input" type="tel" id="phoneInput" name="phoneInput" required=""
					value="{{form.phoneInput}}">
			</div>

			<div class="input-box">
				<label class="input-label" for="passwordInput">Password</label>
				<input class="input" type="password" id="passwordInput" name="passwordInput" required="">
			</div>
			<div class="input-box">
				<label class="input-label" for="confirmPasswordInput"> Confirm Password</label>
				<input class="input" type="password" id="confirmPasswordInput" name="confirmPasswordInput" required="">
			</div>
			<div class="input-box">
				<label class="input-label" for="accountTypeInput">Account Type</label>
				<select class="input" id="accountTypeInput" name="accountTypeInput" required="">
					<option value="" disabled selected hidden>Account Type</option>
					<option value="patron">#User</option>
					<option value="owner">#Owner/BarAdmin</option>
				</select>
			</div>
			<button type="submit" class="submit-button">
				#GrooveIn
			</button>

		</form>
	</div>

	<div class="message-container">
		<p>Already have an account?</p>
		<a class="link" href="/login">Click here to login!</a>
	</div>

</div>