<div class="account-nav">
    <a class="account-link" href="/account" id="account-tab">Account Info</a>
    <a
        class="account-link"
        href="/account/favorites"
        id="favorites-tab"
    >Favorites</a>
    <a class="account-link active" href="/account/reviews" id="reviews-tab">My
        Reviews</a>
    {{#if authenticatedOwner}}
        <a class="account-link" href="/account/bars" id="bars-tab">My Bars</a>
    {{/if}}
</div>

<div id="review-section">
	<h1>Reviews From You:</h1>
	{{#if reviews}}
	{{#each reviews}}
	<div>
		<p>Bar Name: {{this.barName}}</p>
		<p>Rating: {{this.rating}}</p>
		{{#if this.comment}}
			<p>Comment: {{this.comment}}</p>
		{{/if}}
		<p>Date: {{this.date}}</p>
		<a href="/reviews/edit/{{this._id}}">Edit</a>
		<a href="/reviews/delete/{{this._id}}">Delete</a>
	</div>
	{{/each}}
	{{else}}
	<p>No reviews yet.</p>
	{{/if}}
</div>